<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Reinforcement Learning</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Reinforcement Learning</li>
          <li class="url"><a href="https://www.benjaminlabaschin.com">benjaminlabaschin.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list">
        <li><a href="https://github.com/EconoBen">
          <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> 
          <span class="username">EconoBen</span></a></li>
          <li><a href="https://www.twitter.com/EconoBen"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg>
          <span class="username">EconoBen</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>A blog about the intersection of computer science, economics, and history.</p>
      </div>
    </div>

  </div>

</footer>